{
    "source": {
        "directories": [
            "app",
            "database\/factories",
            "database\/seeders"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}